*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1117;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    padding:30px;
}

header{
    text-align:center;
    margin-bottom:40px;
}

header h1{
    color:#2ecc71;
    margin-bottom:10px;
    font-size:34px;
}

header p{
    color:#bfbfbf;
}

main{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:10px;
    padding:25px;
}

.card h2{
    color:#2ecc71;
    margin-bottom:15px;
}

.card p{
    font-size:20px;
    font-weight:bold;
}

.logs-section{
    grid-column:1 / -1;
    margin-top:30px;
}

.logs-section h2{
    color:#2ecc71;
    margin-bottom:20px;
}

.log-table{
    width:100%;
    border-collapse:collapse;
    background:#161b22;
    border-radius:10px;
    overflow:hidden;
}

.log-table th{
    background:#2ecc71;
    color:black;
    padding:14px;
    text-align:left;
}

.log-table td{
    padding:14px;
    border-bottom:1px solid #30363d;
    word-break:break-word;
}

.log-table tr:nth-child(even){
    background:#1b2430;
}

.log-table tr:hover{
    background:#263238;
}

.info{
    color:#00d8ff;
    font-weight:bold;
}

.warning{
    color:#f1c40f;
    font-weight:bold;
}

.error{
    color:#ff4d4d;
    font-weight:bold;
}

@media(max-width:1000px){

main{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:700px){

main{
grid-template-columns:1fr;
}

}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #00c853;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.btn:hover {
    background-color: #00a844;
}
