<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Defense & Threat Correlation Platform</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Cyber Defense & Threat Correlation Platform</h1>
    <p>Lightweight SIEM Dashboard</p>
</header>

<main>

    <div class="card">
        <h2>System Status</h2>
        <p>{{ stats.total_logs }} Total Logs</p>
    </div>

    <div class="card">
        <h2>Database</h2>
        <p>{{ stats.warnings }} Warnings</p>
    </div>

    <div class="card">
        <h2>Alerts</h2>
        <p>{{ stats.errors }} Errors</p>
    </div>

    <div class="card">
        <h2>Logs</h2>
        <p>{{ stats.total_logs }} Logs Ingested</p>
    </div>

    <div class="logs-section">

        <h2>Recent Security Events</h2>

        <table class="log-table">

            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Severity</th>
                    <th>Source</th>
                    <th>Event</th>
                </tr>
            </thead>

            <tbody>

                {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp }}</td>

                    <td>
                        <span class="{{ log.severity|lower }}">
                            {{ log.severity }}
                        </span>
                    </td>

                    <td>{{ log.source }}</td>

                    <td>{{ log.raw_log }}</td>

                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>

</main>

</body>
</html>
