<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Defense & Threat Correlation Platform</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Cyber Defense & Threat Correlation Platform</h1>
    <p>Lightweight SIEM Dashboard</p>

    <br>

    <a href="/upload" class="btn">
    Upload Security Log
    </a>

</header>

<main>

    <!-- Dashboard Statistics -->
    <div class="card">
        <h2>Total Logs</h2>
        <p>{{ stats.total_logs }}</p>
    </div>

    <div class="card">
        <h2>Warnings</h2>
        <p>{{ stats.warnings }}</p>
    </div>

    <div class="card">
        <h2>Errors</h2>
        <p>{{ stats.errors }}</p>
    </div>

    <div class="card">
        <h2>Logs Ingested</h2>
        <p>{{ stats.total_logs }}</p>
    </div>

    <!-- Recent Events -->
    <div class="logs-section">

        <h2>Recent Security Events</h2>

        <table class="log-table">

            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Severity</th>
                    <th>Source</th>
                    <th>Event</th>
                </tr>
            </thead>

            <tbody>

            {% for log in logs %}
                <tr>

                    <td>{{ log.timestamp }}</td>

                    <td>
                        <span class="{{ log.severity|lower }}">
                            {{ log.severity }}
                        </span>
                    </td>

                    <td>{{ log.source }}</td>

                    <td>{{ log.raw_log }}</td>

                </tr>
            {% endfor %}

            </tbody>
</table>

{% if iocs %}

<hr>

<h2>Extracted Indicators of Compromise (IOCs)</h2>

<table class="log-table">

    <thead>
        <tr>
            <th>IOC Type</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>

    {% for ioc in iocs %}
        <tr>
            <td>{{ ioc.type }}</td>
            <td>{{ ioc.value }}</td>
        </tr>
    {% endfor %}

    </tbody>

</table>

{% endif %}

</div>

</main>

</body>
</html>


