<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Logs</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Upload Security Log</h1>
</header>

<main>

<div class="card">

<form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="logfile" required>

    <br><br>

    <button type="submit">
        Upload Log
    </button>

</form>

{% if filename %}

<hr>

<h2>Uploaded File</h2>

<p>{{ filename }}</p>

<hr>

<h2>Parsed Logs</h2>

<ul>
{% for log in logs %}
    <li>{{ log }}</li>
{% endfor %}
</ul>

<hr>

<h2>Detected Security Alerts</h2>

{% if alerts %}

<table class="log-table">

    <thead>
        <tr>
            <th>Severity</th>
            <th>Alert Type</th>
            <th>Message</th>
        </tr>
    </thead>

    <tbody>

    {% for alert in alerts %}
        <tr>
            <td>{{ alert.severity }}</td>
            <td>{{ alert.type }}</td>
            <td>{{ alert.message }}</td>
        </tr>
    {% endfor %}

    </tbody>

</table>

{% else %}

<p>No security alerts detected.</p>

{% endif %}

<hr>

<h2>Extracted Indicators of Compromise (IOCs)</h2>

{% if iocs %}

<table class="log-table">

    <thead>
        <tr>
            <th>IOC Type</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>

    {% for ioc in iocs %}
        <tr>
            <td>{{ ioc.type }}</td>
            <td>{{ ioc.value }}</td>
        </tr>
    {% endfor %}

    </tbody>

</table>

{% else %}

<p>No Indicators of Compromise found.</p>

{% endif %}

{% endif %}

</div>

</main>

</body>
</html>
